name: Create Release with 7z Archive

on:
  workflow_dispatch:
    inputs:
      version_tag:
        description: 'Version tag'
        required: true
        default: 'auto-release'
      description:
        description: 'Release description'
        required: false
        default: 'Automatic release - if you reading this that means its better to NOT download this version.'

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Read version
        id: version
        run: |
          VERSION=$(cat VERSION)
          if [ -n "${{ github.event.inputs.version_tag }}" ]; then
          VERSION="${VERSION}-${{ github.event.inputs.version_tag }}"
          fi
          echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT

      - name: Prepare build structure
        run: |
          mkdir -p build_temp
          rsync -av \
            --exclude='*' \
            --include='fomod/' \
            --include='fomod/***' \
            --include='optionals/' \
            --include='optionals/***' \
            --include='patches/' \
            --include='patches/***' \
            --include='src/gamedata/' \
            --include='src/gamedata/***' \
            --include='Installation_Instructions+Changelog.txt' \
            ./* build_temp/
      
          echo "? files to build:"
          ls -la build_temp/

      - name: Create 7z archive
        uses: edgarrc/action-7z@v1
        with:
          args: 7z a -t7z -mx=9 warfare-alife-overhaul-${{ steps.version.outputs.VERSION }}.7z ./build_temp/* -r

      - name: Clean up
        run: rm -rf fomod

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.version.outputs.VERSION }}
          name: Release ${{ steps.version.outputs.VERSION }}
          body: |
            ${{ github.event.inputs.description }}
          files: warfare-alife-overhaul-gamma-patch-${{ steps.version.outputs.VERSION }}.7z
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}